@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 全体設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #14171a;
}

html {
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 150px;
}

header .wrapper {
    margin-bottom: 0;
}

.section-title {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 60px;
    border-bottom: 1px solid #383e45;
}

.content-title {
    font-size: 1rem;
    margin: 10px 0;
}


/* ヘッダー設定 */

header {
    position: fixed;
    background-color: rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    right: 0;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header h1 a {
    color: #fafafa;
    background-color: #111;
    padding: 0 1rem;
}

header nav ul {
    display: flex;
    padding: 10px 0;
}

header li {
    margin-left: 30px;
}

header li a {
    color: #24292e;
    font-weight: 700;
}

header li a hover {
    opacity: 0.7;
}

/* ボタン */
.site-header-navbtn {
    display: none;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
    /* background-color: #eee; */
}

.site-header-navbtn span,
.site-header-navbtn::before,
.site-header-navbtn::after {
    width: 30px;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 5px;
    transition: transform .4s;
}

.site-header-navbtn::before,
.site-header-navbtn::after {
    content: '';
}

.site-header-navbtn::before {
    transform: translateY(-8px);
}

.site-header-navbtn::after {
    transform: translateY(8px);
}

body.is-nav-open .site-header-navbtn span {
    transform: scaleX(0);
}

body.is-nav-open .site-header-navbtn::before {
    transform: translateY(0) rotate(45deg);
}

body.is-nav-open .site-header-navbtn::after {
    transform: translateY(0) rotate(-45deg);
}

/* メインビジュアル */
main {
    margin-top: 60px;
}

#mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    display: block;
    width: 100%;
    height: 600px;
    /* はみ出た部分はトリミング */
    object-fit: cover;
}

/* ABOUT */

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    width: 250px;
    height: 250px;
    /* 画像を丸く切り抜く */
    border-radius: 50%;
    /*　画像の右側に余白を置き、テキストとの距離を保つ */
    margin-right: 100px;
}

#about .text {
    text-align: left;
}

#about .text .english {
    margin-top: 8px;
    font-size: 15px;
}

/* SKILL */

#skill ul {
    transform: scale(0.7);
}

.btn {
    display: block;
    max-width: 380px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background-color: #8fa38e;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .4);
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

/* ボタン先のSKILLページ */

#skill_page ul {
    justify-content: space-between;
}

#skill_page .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skill_page img {
    width: 250px;
    height: 250px;
    padding: 30px;
}

#skill_page .text-box {
    text-align: center;
    width: 800px;
    height: 150px;
    padding: 30px;
}

#skill_page .content-title {
    border-bottom: solid 1px;
}

/*スライダー*/

.slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    /*スライダー内の画像を横幅100%に*/
    height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}

/* WORKS */

#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#works li {
    width: 50%;
    margin-bottom: 64px;
    padding: 1rem;
    background-color: #e5e5e5;
}

/*モーダル*/
.modal {
    display: none;
    position: fixed;
    z-index: 8887;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
}

.modal-content {
    background: #FFF;
    overflow-y: auto;
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 400px;
    animation: show 0.6s linear 0s;
    filter: drop-shadow(0px 2px 6px #777);
}

.modal-top {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal-close {
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
    padding: 0 8px;
}

.modal-close:hover,
.modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    color: #FFF;
    width: 50%;
    margin: auto 10% auto 25%;
    padding-top: 16px;
    font-family: 'Sacramento', cursive;
    font-size: 20px;
}

.modal-header {
    background: #8fa38e;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 5% 5%;
    background-color: #8fa38e;
    color: black;
}

.modal-body p {
    color: #fff;
}

.badge-group {
    margin: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.badge-item {
    margin-top: 10px;
    margin-right: 8px;
    border-radius: 50px;
    background: #c8cc52;
    padding: 8px 10px;
    overflow: auto;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-modal {
    display: block;
    max-width: 380px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #c8cc52;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

/*ボタン先のWORKSページ*/
#works_page ul {
    display: flex;
}

#works_page li {
    width: 100%;
    margin-bottom: 64px;
    padding: 1rem;
    background-color: #e5e5e5;
}

#works_page .phase li {
    margin: auto;
    padding: auto;
    background-color: #e5e7e8;
}

#works_page description h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#works_page description p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
}

#works_page h3 {
    font-family: 'Noto Serif JP', sans-serif;
}

#works_page h4 {
    margin-top: 32px;
}

/* CONTACT */
#contact {
    background-color: #e5e7e8;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 64px;
    margin-bottom: 32px;
}

#contact h2 {
    margin-bottom: 24px;
}

#contact p {
    padding: 5px;
}

input[type="text"] {
    width: 200px;
}

input[type="email"] {
    width: 300px;
}

textarea {
    width: 420px;
    height: 115px;
    overflow-y: scroll;
}

input,
textarea {
    margin-top: 7px;
}

/* フッター */
footer {
    padding: 10px 0;
    text-align: center;
}

/* SP */

@media screen and (max-width: 599px) {

    /* ボタン */
    .site-header-navbtn {
        display: block;
    }

    /* ナビゲーション */
    .site-header-nav {
        background-color: #efefef;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        transition: transform .6s;
    }

    body.is-nav-open .site-header-nav {
        transform: translateX(0);
    }

    .site-header-nav ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .site-header-nav ul li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.5em;
    }

    .site-header-nav ul li a {
        font-size: 1.5rem;
    }

    /* その他 */
    .wrapper {
        margin-bottom: 100px;
    }

    header .wrapper,
    .wrapper p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #mainvisual img {
        height: calc(100vh - 60px);
    }

    #about .content {
        flex-direction: column;
    }

    #about img {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    #about .text {
        text-align: center;
    }

    #skill ul {
        flex-direction: column;
    }

    #skill li {
        width: 100%;
        margin-bottom: 2rem;
    }

    #skill_page ul {
        flex-direction: column;
        padding-right: 10%;
        padding-left: 10%;
    }

    #skill_page li {
        padding-bottom: 24px;
    }

    #skill_page .content {
        flex-direction: column;
        border-bottom: inset 5px;
    }

    #skill_page .text-box {
        width: 100%;
        height: 100%;
    }

    #works ul {
        flex-direction: column;
    }

    #works li {
        width: 100%;
        margin-bottom: 2rem;
    }

    #works_page {
        overflow: hidden;
    }

    #works_page ul {
        flex-direction: column;
        padding-right: 10%;
        padding-left: 10%;
    }

    #works_page li {
        padding-bottom: 24px;
    }

    #contact input {
        width: 100%;
    }

    #contact textarea {
        width: 100%;
    }

}


/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/

#splash {
    /*fixedで全面に固定*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #333;
    text-align: center;
    color: #fff;
}

/* Loadingバー中央配置　*/
#splash_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/*IE11対策用バーの線の高さ*/
#splash_text svg {
    height: 2px;
}

/*========= レイアウトのためのCSS ===============*/


#container {
    width: 100%;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


a {
    color: #333;
}

a:hover {
    text-decoration: none;
}
